<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

<ion-header class="ion-no-border"  >
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="black">
          <p>Descargas</p>
      </ion-label>
      </ion-item>

    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" class="downloads-content" color="black">
  <div class="icon-container">
    <ion-img src="assets/img/añade.png"></ion-img>
  </div>

  <div class="text-content">
    <h2>Descarga y aprende sin conexión</h2>
    <p>Suscríbete para descargar contenido y estudiar sin conexión</p>
  </div>

  <div class="custom-button">
    <span>Contactar Whatsapp</span>
  </div>
</ion-content>
