<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

<ion-header class="ion-no-border"  >
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="black">
          <p>Mis Rutas</p>
      </ion-label>
      </ion-item>

    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" class="rutas-content" color="black">
  <div class="icon-container">
    <ion-img src="assets/img/añade.png"></ion-img>
  </div>

  <div class="text-content">
    <h2>Nunca te quedes sin GuímarBot</h2>
    <p>Suscríbete a Expert y descarga tus cursos favoritos para seguir aprendiendo sin conexión desde cualquier lugar </p>
  </div>

  <div class="custom-button">
    <span>Pregunta en el chat</span>
  </div>
</ion-content>
