<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">

<ion-header class="ion-no-border"  >
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="black">
          <p>Explorar</p>
      </ion-label>
      </ion-item>
      <ion-toolbar class="srchBar" mode="ios">
        <ion-row>
          <ion-col size="10">
            <ion-searchbar placeholder="¿Qué quieres aprender hoy?"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true" color="black">
      <ion-list-header>
        <h2>Últimos lanzamientos</h2>
      </ion-list-header>

      <!-- Courses List -->
      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso AWS Cloud Practitioner Certification
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Onboarding Business Manager SMB
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Agentes AI
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Product Marketing
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Inglés Básico A1 para Principiantes
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Django Rest Framework
        </ion-label>
      </ion-item>

      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Platzi Conf Bogotá 2024
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Documental:La historia de la primera Startup
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Java
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Python
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Creación de Páginas Web
        </ion-label>
      </ion-item>
      <ion-item lines="none" detail="true" color="black">
        <ion-thumbnail slot="start">
          <ion-img src="assets/img/curso.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          Curso de Power BI
        </ion-label>
      </ion-item>
</ion-content>


